.room .card
{
    cursor: pointer;
    background: url(img/paper.png);
    border: #cdfdcd 1px solid;
    width: 200px;
    height: 300px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #666;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    position: relative;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.room .cards.estimate
{
    margin-bottom: 40px;
}

.room .card.estimate.nocard
{
    background: transparent;
    border: #2d6d2d 2px dashed;
    box-shadow: none;
}

.room .card.estimate .playername
{
    position: absolute;
    left: 0px;
    top: 300px;
    width: 100%;
    text-align: center;
}

.room .card.selected
{
    border: #8dad8d 4px solid;
}

.room .card .main-point
{
    align-self: center;
    font-size: 70px;
    margin-top: -30px;
    opacity: 0.8;
}

.room .card.estimate.nocard .border
{
    border: none;
}
.room .card .border
{
    align-self: center;
    display: inline-flex;
    justify-content: center;
    width: 148px;
    height: 248px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #666;
}

.room .card.estimate.nocard .main-point,
.room .card.estimate.nocard .topleft-point,
.room .card.estimate.nocard .bottomright-point,
.room .card.estimate.cardsinvisible .main-point,
.room .card.estimate.cardsinvisible .topleft-point,
.room .card.estimate.cardsinvisible .bottomright-point
{
    opacity: 0;
}
.room .card .topleft-point
{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 32px;
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
    margin-top: -5px;
}

.room .card .bottomright-point
{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 32px;
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
    margin-bottom: -5px;

    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}