body, html {
    height: 100%;
	background-color: $theme-bg-color;
}

.lobby {
    min-height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .checkbox {
        display:inline-block;
    }
}

.lobby-item {
    flex: 0 1 auto;
    width: 75%;
    height: 50px;
    max-width: 400px;
    margin-bottom: 25px;
}

.roomHeader {
    padding: 0 20px;
}

.roomname {
    font-size: 50px;
    margin-bottom: 25px;
}

#storytext, #next, #toggleCards {
    height: 45px;
}

#currentStory {
    font-size: 20px;
    text-align: center;
}

.noStoryMargin {
    margin-bottom: 52px;
}

.card-table {
    display: inline-block;
    min-width: 300px;
    width: 70%;
}

.history {
    display: inline-block;
    min-width: 100px;
    width: 25%;
    padding: 10px;
    margin: 0px;
    vertical-align: top;

	h1 {
	    font-size: 20px;
	    text-align: center;
	}

	.historycontent {
	    text-align: left;
	    border: 1px solid #ccc;
	    min-height: 400px;
	    padding: 10px;
	}

}

.buttondiv {
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.storyinput {
    float: right;
    width: 300px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.nostory {
    text-align: center;
    width: 100%;
    font-size: 20px;
}

h1.activerooms
{
    font-size:20px;
    text-align: center;
    margin-top:50px;
}

div.activerooms
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 200px;
    min-height: 50px;

	ul {
	   list-style-type: none;
	   padding: 0;
	   margin: 0;

	   li {
		  display: block;
		  cursor: pointer;
	  }
   }
}
