body, html {
	height: 100%;
	background-color: $theme-bg-color;
}

.contents {
	padding-top: $gutter;
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}

.lobby {
	form {
		padding-bottom: $gutter / 4;

		.btn {
			width: 100%;
		}
	}

	.room-information {

		@media (min-width:$grid-width-tablet) {
			border-left: 1px solid $general-gray;
		}

		@media (max-width:$grid-width-tablet) {
			border-top: 1px solid $general-gray;
			padding-top: $gutter / 2;
		}

		.active-rooms {
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;

				li {
					display: block;
					cursor: pointer;

					&.btn {
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}

		.active-players {
			margin-top: $gutter;

			h3 {
				color: $blue;
			}
		}
	}
}

.controls {
	display: flex;
	justify-content: space-between;
	margin-top:  $gutter / 2;
	padding: 20px 20px 0 20px;
	border-radius: $general-border-radius;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-color: $general-gray;

	fieldset {
		div {
			padding: 20px 20px 0 20px;
		}
	}

	.storyinput {
		width: 300px;

		button {
			margin-right: 0;
		}
	}
}

.messages {
	p {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	#currentStory {
		padding: $gutter /4 20px $gutter /4 20px;
		font-size: 20px;
	}
}

.table {
	.estimate-ctn {
		@media (min-width:$grid-width-tablet) {
			margin-top: 25px;
		}
	}

	.history {
		margin-bottom: $gutter;

		@media (max-width:$grid-width-tablet) {
			margin-top: $gutter;
		}

		.historycontent {
			border-radius: $general-border-radius;
			border: 1px solid $general-gray;
			padding: 10px;
			color: $general-gray;
			min-height: 300px;

			.history-st-name {
				display: block;
				font-weight: bold;
				margin-bottom: 15px;
				font-size: 25px;
			}

			.player {
				margin-bottom: 5px;
				color: $accent;
			}
		}
	}
}
