body, html {
    height: 100%;
	background-color: $theme-bg-color;
}

.contents {
	padding: $gutter;
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}

.lobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .checkbox {
        display: inline-block;
    }
}

.lobby-item {
    flex: 0 1 auto;
    width: 75%;
    height: 50px;
    max-width: 400px;
    margin-bottom: 25px;
}

#storytext, #next, #toggleCards {
    height: 45px;
}

#currentStory, .nostory {
    font-size: 20px;
    text-align: center;
}

.controls {
	display: flex;
	justify-content: space-between;
	margin-top:  $gutter / 2;
	border-radius: $general-border-radius;
	border: 2px solid $accent;
	padding: $gutter / 2;

	button {
		margin-right: $gutter;
	}

	.storyinput {
	    width: 300px;

		button {
			margin-right: 0;
		}
	}
}

.cards-history {
	display: flex;
	flex-wrap: wrap;

	.estimate-ctn {
		flex-wrap: wrap;
		flex: 1 1 auto;
		padding-top: 40px;

		.card {
 			padding: 0 $gutter / 2;
		}
	}

	.history {
		flex: 0 0 auto;

		h1 {
		    font-size: 20px;
		}

		.historycontent {
			border-radius: $general-border-radius;
		    border: 2px solid $blue;
			height: 300px;
			width: 200px;
			padding: 10px;
			margin: 0 $gutter / 2;

			.history-st-name {
				display: block;
				font-weight: bold;
			}

			.player {
				padding-left: 10px;
				color: $blue;
			}
		}
	}
}

h1.activerooms
{
    font-size:20px;
    text-align: center;
    margin-top:50px;
}

div.activerooms
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 200px;
    min-height: 50px;

	ul {
	   list-style-type: none;
	   padding: 0;
	   margin: 0;

	   li {
		  display: block;
		  cursor: pointer;
	  }
   }
}

h1.activeplayers
{
    font-size:20px;
    text-align: center;
    margin-top:50px;
}

div.activeplayers
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 200px;
    min-height: 50px;

	ul {
	   list-style-type: none;
	   padding: 0;
	   margin: 0;

	   li {
		  display: block;
		  cursor: pointer;
	  }
   }
}
