body {
	font-family:'Maven Pro', sans-serif;
	color: $text-color;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    text-align: center;

	@media screen and (min-device-height: 600px) {
		font-size:40px;
	}
}
