$gutter:					40px;
$general-border-radius:		3px;

$general-gray:				#1A2730;
$text-color: 				#333;
$accent:	 				#FCAE05;
$blue:						#206FA4;
$silver:					#6A8092;
$white:						#F3F3F3;
$accent:					#F8B700;
