@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Asap:700");
.room .hand {
  position: relative; }
  .room .hand .card {
    position: absolute;
    top: 250px;
    left: 180px; }
  .room .hand .card:nth-child(1) {
    transform: rotate(-60deg) translate(100px, -150px); }
  .room .hand .card:nth-child(2) {
    transform: rotate(-52deg) translate(100px, -150px); }
  .room .hand .card:nth-child(3) {
    transform: rotate(-44deg) translate(100px, -150px); }
  .room .hand .card:nth-child(4) {
    transform: rotate(-36deg) translate(100px, -150px); }
  .room .hand .card:nth-child(5) {
    transform: rotate(-28deg) translate(100px, -150px); }
  .room .hand .card:nth-child(6) {
    transform: rotate(-20deg) translate(100px, -150px); }
  .room .hand .card:nth-child(7) {
    transform: rotate(-12deg) translate(100px, -150px); }
  .room .hand .card:nth-child(8) {
    transform: rotate(-4deg) translate(100px, -150px); }
  .room .hand .card:nth-child(9) {
    transform: rotate(4deg) translate(100px, -150px); }
  .room .hand .card:nth-child(10) {
    transform: rotate(12deg) translate(100px, -150px); }
  .room .hand .card:nth-child(11) {
    transform: rotate(20deg) translate(100px, -150px); }
  .room .hand .card:nth-child(12) {
    transform: rotate(28deg) translate(100px, -150px); }

.room .card {
  cursor: pointer;
  background: url(../img/vintage/paper.png);
  border: #8dadbd 1px solid;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px #666;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  position: relative;
  font-family: "Playfair Display", serif;
  font-weight: bold; }
  .room .card.selected {
    border: #8dad8d 4px solid; }
  .room .card .border {
    align-self: center;
    display: inline-flex;
    justify-content: center;
    width: 148px;
    height: 248px;
    border-radius: 15px;
    border: 1px solid #666; }
  .room .card .main-point {
    align-self: center;
    font-size: 70px;
    margin-top: -30px;
    opacity: 0.8; }
  .room .card .topleft-point {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 32px;
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
    margin-top: -5px; }
  .room .card .bottomright-point {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 32px;
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
    margin-bottom: -5px;
    transform: rotate(-180deg); }
  .room .card.estimate.nocard {
    background: transparent;
    border: #337ab7 2px dashed;
    box-shadow: none; }
    .room .card.estimate.nocard .border {
      border: none; }
    .room .card.estimate.nocard .main-point, .room .card.estimate.nocard .topleft-point, .room .card.estimate.nocard .bottomright-point, .room .card.estimate.nocard .main-point, .room .card.estimate.nocard .topleft-point, .room .card.estimate.nocard .bottomright-point {
      opacity: 0; }
  .room .card.estimate.cardsinvisible .main-point, .room .card.estimate.cardsinvisible .topleft-point, .room .card.estimate.cardsinvisible .bottomright-point, .room .card.estimate.cardsinvisible .main-point, .room .card.estimate.cardsinvisible .topleft-point, .room .card.estimate.cardsinvisible .bottomright-point {
    opacity: 0; }
  .room .card.estimate .playername {
    position: absolute;
    left: 0;
    top: 300px;
    width: 100%;
    text-align: center; }

body, html {
  height: 100%;
  background-color: #fff; }

.contents {
  padding: 40px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%; }

.lobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .lobby .checkbox {
    display: inline-block; }

.lobby-item {
  flex: 0 1 auto;
  width: 75%;
  height: 50px;
  max-width: 400px;
  margin-bottom: 25px; }

#storytext, #next, #toggleCards {
  height: 45px; }

#currentStory, .nostory {
  font-size: 20px;
  text-align: center; }

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 15px;
  border: 2px solid #FCAE05;
  padding: 20px; }
  .controls button {
    margin-right: 40px; }
  .controls .storyinput {
    width: 300px; }
    .controls .storyinput button {
      margin-right: 0; }

.cards-history {
  display: flex;
  flex-wrap: wrap; }
  .cards-history .estimate-ctn {
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding-top: 40px; }
    .cards-history .estimate-ctn .card {
      padding: 0 20px; }
  .cards-history .history {
    flex: 0 0 auto; }
    .cards-history .history h1 {
      font-size: 20px; }
    .cards-history .history .historycontent {
      border-radius: 15px;
      border: 2px solid #337ab7;
      height: 300px;
      width: 200px;
      padding: 10px;
      margin: 0 20px; }
      .cards-history .history .historycontent .history-st-name {
        display: block;
        font-weight: bold; }
      .cards-history .history .historycontent .player {
        padding-left: 10px;
        color: #337ab7; }

h1.activerooms {
  font-size: 20px;
  text-align: center;
  margin-top: 50px; }

div.activerooms {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 200px;
  min-height: 50px; }
  div.activerooms ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    div.activerooms ul li {
      display: block;
      cursor: pointer; }

h1.activeplayers {
  font-size: 20px;
  text-align: center;
  margin-top: 50px; }

div.activeplayers {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 200px;
  min-height: 50px; }
  div.activeplayers ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    div.activeplayers ul li {
      display: block;
      cursor: pointer; }

body {
  font-family: 'Asap', sans-serif;
  color: #333; }

h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  text-align: center; }
  @media screen and (min-device-height: 600px) {
    h1 {
      font-size: 40px; } }
