body {
    color: #000066;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

input {
    font-size: 18px !important;
}

h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

@media screen and (min-device-height: 600px) {
    h1 {
        font-size:40px;
    }
}

.wrapper {
    text-align:center;
}

.form-control {
    height: 40px !important;
}

.nextarrow {
    margin-left:10px;
}

ul {
    padding: 0;
    margin: 0 auto;
    max-width: 950px;
}

/* Lobby */

.lobby {
    padding-top:15px;
    padding-left:30px;
    padding-right:30px;
}

@media screen and (min-device-height: 700px) {
    .lobby {
        padding-top:30px;
    }
}

.lobby input, button {
    width: 100%;
    max-width:350px;
    display: inline;
}

.lobby .row {
    margin-bottom:30px;
}


#logo {
    display: none;
}

@media screen and (min-device-height: 568px) {
    #logo {
        display: inline;
    }
}

/* Room */

.room .input-group {
    margin: auto;
    max-width:350px;
}

div button {
    max-width:350px;
    margin-top: 20px;
}

.room input {
    text-align:center;
    margin-top: 20px;
    height: 46px !important;
}

.roomHeader .row {
    margin-top:20px;
}

.room .row.points {
    margin-top:60px;
    margin-bottom:60px;
}
.room .card
{
    cursor: pointer;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    background: #ffd800;
    border: white 4px solid;
    width: 32%;
    padding:130px 0;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    box-sizing: border-box;
}

.card.selected {
    border: goldenrod 10px solid !important;
}


@media screen and ( max-device-width: 568px) and ( max-device-height: 480px) {
    .room .card {
        padding:50px 0;
        border: white 2px solid;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    .card.selected {
        border: goldenrod 5px solid !important;
    }

}

@media screen and ( max-device-width: 568px) and ( min-device-height: 481px) {
    .room .card {
        border: white 2px solid;
        padding:70px 0;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
    }

    .card.selected {
        border: goldenrod 8px solid !important;
    }

}

.card-on-table
{
    float: left;
    display: block;
    text-align: center;
    max-height: 270px;
    padding: 0 10px 10px 0;
    font-size: 40px;
    border: dashed 3px #000000;
    background-color: white;
    width:30%;
    margin: 1.5%;

    min-height: 350px;

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

    box-sizing: border-box;

}
.card-on-table.onTable {
    background-color: slategray;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 3px #000000;
}
.card-on-table.open
{
    background-image: none;
    background-color: white;
}

.card-on-table p
{

    font-size: 2em;
}
.card-on-table.open p
{
    display: block;
}
.card-on-table.mine
{
    color: lightskyblue;
}
.card-on-table.mine p
{
    display: block;
}
