<!DOCTYPE html>
<html lang="en" ng-app="nodePlanningPoker" ng-controller="appCtrl">
<head>
    <meta charset="UTF-8">
    <title>Node Planning Poker</title>
    <meta name="description" content="A simple mobile friendly planning poker tool built with node.js">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" href="static/lib/normalize-css/normalize.css">
    <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/site.css">
</head>
<body ng-controller="appCtrl">
    <div class="lobby form-group" ng-show="lobbyVisible">
        <input class="lobby-item form-control" type="text" ng-model="playerName" placeholder="Your name" />
        <input class="lobby-item form-control" type="text" ng-model="roomName" placeholder="Room name" />
        <button type="button" class="btn btn-lg btn-primary lobby-item" ng-click="joinRoom()">Join room</button>
    </div>

    <div class="room ng-hide" ng-show="roomVisible">
        <div class="roomHeader" ng-class="{  false:   'noStoryMargin'  } [nextStory != '']">
            <div class="row">
                <h1 class="roomname">{{ roomName }}</h1>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <button id="toggleCards" type="button" class="btn btn-primary btn-lg" ng-click="toggleCards()">Show cards</button>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <input id="storytext" type="text" class="form-control" placeholder="Story" ng-model="nextStory">
                    <span class="input-group-btn">
                        <button id="next" type="button" class="btn btn-primary btn-lg" ng-click="setNextStory()">Next</button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="nextStory != ''">
                <h2 id="currentStory">Current story: {{ nextStory }}</h2>
            </div>
        </div>

        <!--TODO: This code needs to be made functional. It is all placeholder copied from the ko implementation-->
        <div class="cards estimate">
            <div class="card estimate" ng-repeat="player in players" ng-class="{nocard: player.estimate == '', cardsinvisible: $parent.cardsInvisible === true}"><div class="border"><div class="main-point">{{ player.estimate }}</div></div><div class="topleft-point">{{ player.estimate }}</div><div class="bottomright-point">{{ player.estimate }}</div><div class="playername">{{ player.name }}</div></div>
        </div>

        <div class="cards">
            <div class="card" ng-repeat="point in storyPoints" ng-class="{selected: point==$parent.estimate}" ng-click="$parent.setEstimate(point)"><div class="border"><div class="main-point">{{ point }}</div></div><div class="topleft-point">{{ point }}</div><div class="bottomright-point">{{ point }}</div></div>
        </div>
    </div>

    
    <script src="/socket.io/socket.io.js"></script>
    <script src="static/lib/angular/angular.min.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/services.js"></script>
    <script src="static/js/controllers.js"></script>

</body>
</html>