<!DOCTYPE html>
<html lang="en" ng-app="nodePlanningPoker" ng-controller="appCtrl">
<head>
    <meta charset="UTF-8">
    <title>Node Planning Poker</title>
    <meta name="description" content="A simple mobile friendly planning poker tool built with node.js">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/lib/normalize-css/normalize.css">
    <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="static/cardtheme/vintage.css">

</head>
<body ng-controller="appCtrl">
    <div class="lobby form-group" ng-show="lobbyVisible">
        <input class="lobby-item form-control" type="text" ng-model="playerName" placeholder="Your name" />
        <input class="lobby-item form-control" type="text" ng-model="roomName" placeholder="Room name" id="roomName" />
        <input class="checkbox" type="checkbox" ng-model="isObserver" /><label>Is Observer</label>
        <button type="button" class="btn btn-lg btn-primary lobby-item" ng-click="joinRoom()">Join room</button>
        <h1 class="activerooms">Active Rooms</h1>
        <div class="activerooms">
            <ul class="activeroomlist">
                <li ng-repeat="room in roomList" ng-click="setRoomName(room)">{{ room }}</li>
            </ul>
        </div>
        <h1 class="activeplayers" ng-show="playerList.length > 0">Active Players - {{ roomName }}</h1>
        <div class="activeplayers" ng-show="playerList.length > 0">
            <ul class="activeplayerlist">
                <li ng-repeat="player in playerList">{{ player.name }} <span ng-show="player.isObserver">(observer)</span></li>
            </ul>
        </div>
    </div>

    <div class="room ng-hide" ng-show="roomVisible">
        <div class="roomHeader" ng-class="{  false:   'noStoryMargin'  } [nextStory != '']">
            <div class="row">
                <h1 class="roomname">{{ roomName }} - {{ playerName }}</h1>
            </div>
            <div class="row">
                <div class="buttondiv">
                    <button id="toggleCards" type="button" class="btn btn-primary btn-lg" ng-click="toggleCards()">Show cards</button>
                </div>
                <div class="buttondiv">
                    <button id="resetHistory" type="button" class="btn btn-primary btn-lg" ng-click="resetHistory()">Reset history</button>
                </div>
                <div class="storyinput">
                    <div class="input-group">
                        <input id="storytext" type="text" class="form-control" placeholder="Story" ng-model="nextStoryEntered">
                    <span class="input-group-btn">
                        <button id="next" type="button" class="btn btn-primary btn-lg" ng-click="setNextStory()">Next</button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="nextStory != ''">
                <h2 id="currentStory">Current story: {{ nextStory }}</h2>
            </div>
        </div>
        <div class="card-table ng-hide" ng-show="storyVisible">
            <div class="cards estimate">
                <div class="card estimate" ng-repeat="player in players" ng-show="!player.isObserver" ng-class="{nocard: player.currentEstimate == '', cardsinvisible: $parent.cardsVisible==false}"><div class="border"><div class="main-point">{{ player.currentEstimate == '' ? '&nbsp;' : player.currentEstimate }}</div></div><div class="topleft-point">{{ player.currentEstimate == '' ? '&nbsp;' : player.currentEstimate }}</div><div class="bottomright-point">{{ player.currentEstimate == '' ? '&nbsp;' : player.currentEstimate }}</div><div class="playername">{{ player.name }}</div></div>
            </div>

            <div class="cards hand" ng-show="!isObserver">
                <div class="card" ng-repeat="point in storyPoints" ng-class="{selected: point==$parent.estimate}" ng-click="$parent.setEstimate(point)"><div class="border"><div class="main-point">{{ point }}</div></div><div class="topleft-point">{{ point }}</div><div class="bottomright-point">{{ point }}</div></div>
            </div>
        </div>
        <div class="history ng-hide" ng-show="storyVisible">
            <h1>History</h1>
            <div class="historycontent" ng-bind-html="roomHistory">
            </div>
        </div>
        <div class="nostory ng-hide" ng-show="!storyVisible">
            No story currently selected
        </div>
    </div>

    
    <script src="/socket.io/socket.io.js"></script>
    <script src="static/lib/angular/angular.min.js"></script>
    <script src="static/lib/angular/angular-cookies.js"></script>
    <script src="static/lib/angular/angular-sanitize.min.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/services.js"></script>
    <script src="static/js/controllers.js"></script>

</body>
</html>