@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
.room .card {
  cursor: pointer;
  background: url(../img/vintage/paper.png);
  border: #cdfdcd 1px solid;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px #666;
  margin: 10px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  font-family: "Playfair Display", serif;
  font-weight: bold; }
  .room .card.selected {
    border: #8dad8d 4px solid; }
  .room .card .border {
    -ms-flex-item-align: center;
    align-self: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 148px;
    height: 248px;
    border-radius: 15px;
    border: 1px solid #666; }
  .room .card .main-point {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 70px;
    margin-top: -30px;
    opacity: 0.8; }
  .room .card .topleft-point {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 32px;
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
    margin-top: -5px; }
  .room .card .bottomright-point {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 32px;
    text-align: center;
    opacity: 0.8;
    font-size: 20px;
    margin-bottom: -5px;
    transform: rotate(-180deg); }
  .room .card.estimate {
    margin-bottom: 40px; }
    .room .card.estimate.nocard {
      background: transparent;
      border: #2d6d2d 2px dashed;
      box-shadow: none; }
      .room .card.estimate.nocard .border {
        border: none; }
      .room .card.estimate.nocard .main-point, .room .card.estimate.nocard .topleft-point, .room .card.estimate.nocard .bottomright-point, .room .card.estimate.nocard .main-point, .room .card.estimate.nocard .topleft-point, .room .card.estimate.nocard .bottomright-point {
        opacity: 0; }
    .room .card.estimate.cardsinvisible .main-point, .room .card.estimate.cardsinvisible .topleft-point, .room .card.estimate.cardsinvisible .bottomright-point, .room .card.estimate.cardsinvisible .main-point, .room .card.estimate.cardsinvisible .topleft-point, .room .card.estimate.cardsinvisible .bottomright-point {
      opacity: 0; }
    .room .card.estimate .playername {
      position: absolute;
      left: 0px;
      top: 300px;
      width: 100%;
      text-align: center; }

body, html {
  height: 100%;
  background-color: #fff; }

.lobby {
  min-height: 75%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.lobby-item {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 75%;
  height: 50px;
  max-width: 400px;
  margin-bottom: 25px; }

.roomHeader {
  padding: 0 20px; }

.roomname {
  font-size: 50px;
  margin-bottom: 25px; }

#storytext, #next, #toggleCards {
  height: 45px; }

#currentStory {
  font-size: 20px;
  text-align: center; }

.noStoryMargin {
  margin-bottom: 52px; }

.card-table {
  display: inline-block;
  min-width: 300px;
  width: 70%; }

.history {
  display: inline-block;
  min-width: 100px;
  width: 25%;
  padding: 10px;
  margin: 0px;
  vertical-align: top; }
  .history h1 {
    font-size: 20px;
    text-align: center; }
  .history .historycontent {
    text-align: left;
    border: 1px solid #ccc;
    min-height: 400px;
    padding: 10px; }

.buttondiv {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.storyinput {
  float: right;
  width: 300px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.nostory {
  text-align: center;
  width: 100%;
  font-size: 20px; }

h1.activerooms {
  font-size: 20px;
  text-align: center;
  margin-top: 50px; }

div.activerooms {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 200px;
  min-height: 50px; }
  div.activerooms ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    div.activerooms ul li {
      display: block;
      cursor: pointer; }

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center; }
  @media screen and (min-device-height: 600px) {
    h1 {
      font-size: 40px; } }
